## **Segmenting and Clustering Neighborhoods in Toronto**
---
# Task 2
Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [0]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [0]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(url).text
soup = BeautifulSoup(source, 'xml')
table = soup.find('table')
column_names = ['PostalCode','Borough','Neighborhood']
df = pd.DataFrame(columns=column_names)

In [0]:
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [38]:
df1=df[df['Borough']!='Not assigned']
df2=df1.groupby(['PostalCode','Borough'],sort=False).agg(', '.join)
df2.reset_index(inplace=True)
df2.loc[df['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df['Borough']
df2.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Import the geographical coordinates of each postal code from the csv file to a dataframe

In [39]:
geo = pd.read_csv('https://cocl.us/Geospatial_data')
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [40]:
geo.rename(columns={'Postal Code':'PostalCode'},inplace=True)
geo_merge = pd.merge(geo, df2, on='PostalCode')
geo_merge.head()

  PostalCode   Latitude  ...      Borough                              Neighborhood
0        M1B  43.806686  ...  Scarborough                           Malvern / Rouge
1        M1C  43.784535  ...  Scarborough  Rouge Hill / Port Union / Highland Creek
2        M1E  43.763573  ...  Scarborough       Guildwood / Morningside / West Hill
3        M1G  43.770992  ...  Scarborough                                    Woburn
4        M1H  43.773136  ...  Scarborough                                 Cedarbrae

[5 rows x 5 columns]

In [41]:
geo_new = geo_merge[['PostalCode','Borough','Neighborhood','Latitude','Longitude']]
geo_new.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]