## **Segmenting and Clustering Neighborhoods in Toronto**
---
# Task 1
Transform the data on a [Wiki page](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M) into pandas dataframe. 

1.   The dataframe should consist of three columns: PostalCode, Borough, and Neighborhood.
2.   Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
3.   More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
4.   If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
5.   Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
6.   In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
---

ImportÂ libraries

In [0]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Scraping postal codes of Canada

In [0]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(url).text
soup = BeautifulSoup(source, 'xml')
table = soup.find('table')
column_names = ['PostalCode','Borough','Neighborhood']
df = pd.DataFrame(columns=column_names)

In [47]:
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data
df.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

Ignore cells with a borough that is Not assigned:

In [58]:
df1=df[df['Borough']!='Not assigned']
df1.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

More than one neighborhood can exist in one postal code area, they will be combined into one row with the neighborhoods separated with a comma.

In [65]:
df2=df1.groupby(['PostalCode','Borough'],sort=False).agg(', '.join)
df2['Neighborhood']=df2['Neighborhood'].str.replace(' /',', ')
df2.reset_index(inplace=True)
df2.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park,  Harbourfront
3        M6A        North York             Lawrence Manor,  Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park,  Ontario Provincial Government

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [66]:
df2.loc[df['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df['Borough']
df2.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park,  Harbourfront
3        M6A        North York             Lawrence Manor,  Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park,  Ontario Provincial Government

In [67]:
df2.shape

(103, 3)